li {
  list-style-type: none;
}

.column-names li {
  display: inline;
  padding-right: 20px;
  padding-left: 0px;
  border: 1px solid black;
  padding: 20px;
  background: #C9D1FF;
  color: gray;
}

.column-names li.dependent {
  background: #ea1;
  transition: background 200ms;
  color: black;
}

.column-names li.predictor {
  background: #aea;
  transition: background 200ms;
  color: black;
}

.column-names {
  /*display: inline;
  border-left: 1px solid gray;*/
  padding: 20px 0;
  white-space: nowrap;
}

.table-name {
  padding: 10px;
}

.table div {
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background: #38f;
}

.column-names {
  overflow: hidden;
  max-width: 0px;
}

.table {
  max-width: 130px;
  white-space: nowrap;
}

.table-name {
	float: left;
	font-size: 1.2em;
}

.table:hover, .table.locked, .table:hover ul, .table.locked ul {
  max-width: 2000px;
  transition: max-width 500ms;
}

.table.remote div {
  background: #ea5;
}

.tables p {
  /*text-align: right;*/
}

table {
  margin-bottom: 10px;
}

tr {
  border-bottom: 1px solid black;
}

td, th {
  padding: 8px 25px;
  font-size: 1.2em;
}

dt {
  float: left;
  width: 225px;
}

.join {
	background-color: #0fa;
}